.contact-form{
    grid-column: 1;
    justify-self: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
}

.contact-form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form label{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--color-text-light);
}

.contact-form input,
.contact-form textarea{
    max-width: 280px;
    padding: 10px;
    border: none;
    border-radius: var(--radius-sm);
    background-color: var(--color-primary);
    color: var(--color-text-light);
}

.contact-form textarea{
    min-height: 250px;
}

.contact-form button{
    max-width: 305px;
    padding: 10px 20px;
    border: none;
    border-radius: var(--radius-sm);
    background-color: var(--color-accent);
    color: var(--color-text-light);
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 768px){
    .contact-form{
        padding-left: 0;
    }

    .contact-form button{
        width: 100%;
    }
}
