/*
** Global styles for the whole Portfolio
*/

html,
body{
    height: 100%;
    margin: 0;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--color-page-bg);
}

main{
    display: grid;
    width: 100%;
    background: linear-gradient(to bottom, var(--color-primary), var(--color-deep-bg));
}

img{
    max-width: 100%;
}