body,
button,
input,
textarea{
    font-family: var(--font-main);
}

p{
    font-size: 1em;
    line-height: 1.6;
}

.section-title{
    padding-inline: 5%;
    font-size: 1.8em;
    color: var(--color-accent);
}

.text-light{
    color: var(--color-text-light);
}

.text-muted{
    color: var(--color-text-muted);
}

.text-muted-2{
    color: var(--color-text-muted-2);
}

.text-dark{
    color: var(--color-text-dark);
}

@media (max-width: 768px){
    .section-title{
        font-size: 1.5em;
        text-align: center;
    }
}
