/*
**
** Style for the about.html page
**
*/

.info-welcome p{
    color: var(--color-text-muted);
}

.languages p{
    color: var(--color-text-dark);
}

@media (max-width: 768px){
    .info-welcome h2,
    .edu h2,
    .work h2,
    .languages h2{
        justify-self: center;
        text-align: center;
        font-size: 1.5em;
    }
}