/*
**
** Style for the index.html page
**
*/

.info img{
    width: 90%;
    max-width: 320px;
    height: auto;
    border-radius: var(--radius-sm);
    align-self: center;
    justify-self: center;
}

.info-text{
    width: 90%;
    align-self: center;
    justify-self: start;
    display: flex;
    flex-direction: column;
}

.info-text h2,
.skills-intro h2{
    font-size: 1.8em;
    color: var(--color-accent);
}

.info-text p,
.skills-intro p{
    text-align: justify;
    color: var(--color-text-light);
}

.info-text p a{
    color: var(--color-accent);
    text-decoration: none;
    font-weight: bold;
}

.skills-intro{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.skills-intro p{
    padding-left: 5%;
}

@media (max-width: 768px){
    .info img{
        max-width: 250px;
        height: auto;
        grid-row: auto;
    }

    .info-text{
        align-items: center;
        justify-self: center;
    }

    .info-text h2,
    .skills-intro h2{
        font-size: 1.5em;
        text-align: center;
    }

    .info-text p,
    .skills-intro p{
        padding-inline: 5%;
    }

    .skills-intro{
        align-items: center;
    }

    .skills-intro p{
        padding-left: 0;
    }
}