/*
**
** Style for the projects.html page
**
*/

.projects-info p,
.language p{
    color: var(--color-text-muted-2);
}

.projects-list{
    width: 90%;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#stay-tuned{
    justify-self: center;
    margin: 20px 0;
    padding: 10px;
    border-radius: var(--radius-sm);
    background-color: var(--color-primary);
    color: var(--color-accent);
    font-size: 1.5em;
}

@media (max-width: 768px){
    .projects-list{
        gap: 0;
    }
}